<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag @product.picture, :size => "180x250" %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency @product.price, unit: "£" %>
</p>

<p>
  <strong>Date published:</strong>
  <%= @product.date_published %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
